body {
  padding-top: 0px;
}

#nexmo-header {
background: #0685a9 url(nexmo/header.png);
border-bottom: 1px solid #036b88;
overflow: hidden; }	

#nexmo-header .container {
width: 940px;
margin: 0 auto;
overflow: hidden;
}

#nexmo-header .logo {
margin-top: 20px;
}


#nexmo-header nav {
font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
margin: 20px 0 17px 0;
overflow: hidden;
float: right;
width: 800px;
}

#nexmo-header nav ul {
float: right;
}

#nexmo-header ul, #nexmo-header li {
margin: 0;
list-style: none;
list-style-image: none;
}

#nexmo-header nav li {
float: left;
margin-right: 2px;
}

#nexmo-header nav li a {
color: white;
text-decoration: none;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
padding: 6px 12px 8px;
display: inline-block;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

